{% extends 'base.html.twig' %} {% block title %}Inscription{% endblock %} {% block body %}

        <div class="container">
        
                 

                    {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                                {% endfor %}

                    <div class="row">

                        <div class="col">

                            <div class="alert alert-light">
                                
                           {% for user in users %}
                            <h1 class="my-5">Bienvenue  {{user.fullName}}</h1>
                            
                                
                          {% endfor %}

                            
                            </div>
                        </div>
                    </div>
        

        </div>

{% endblock %}