<form method="post" action="{{ path('amount_donate_delete', {'id': amount_donate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ amount_donate.id) }}">
    <button class="btn">Delete</button>
</form>
