{% extends 'base.html.twig' %}

{% block title %}New AmountDonate{% endblock %}

{% block body %}
<div class='container'>
    <h2>Merci de nous aider financièrement</h2>

    {{ include('amount_donate/_form.html.twig') }}

  
    <a href="{{ path('amount_donate_index') }}">back to list</a>
    </div>
{% endblock %}
