<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    {{ include('header.html.twig') }} {% block body %}{% endblock %} {% block javascripts %} {% endblock %}
     <div class="container" >
            {% block footer %}
                &copy; Copyright 2019 :  <a href="#">contactez nous :)</a>.
            {% endblock %}
        </div>
</body>

</html>