{% extends 'base.html.twig' %}

{% block title %}Hello DonneurController!{% endblock %}

{% block body %}
<div class="container">
<h2 class="pt-4">Etre Donneur</h2>
<section class="p-2">
<h3>Nos actions</h3>
<p>Cras non magna hendrerit, elementum augue quis, vestibulum sapien. Ut nec risus ac nunc elementum cursus. Phasellus eu metus eget turpis consequat semper vitae vitae magna. Phasellus accumsan sem sed arcu fringilla, quis ornare dui pharetra. Etiam vitae dapibus nisi. Morbi facilisis blandit massa sit amet eleifend. Proin scelerisque pulvinar justo, ut commodo risus lobortis non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vitae nunc sodales, suscipit dolor ac, ultricies diam. Maecenas auctor tempor orci ut ultricies. Curabitur elit purus, congue quis ullamcorper et, feugiat sit amet nibh. In et pellentesque arcu, aliquam fermentum elit. </p>
<div class='media'>
<img class="align-self-end mr-3" src="https://via.placeholder.com/300x150"/>
</div>
<p>Nullam aliquam mi eu luctus condimentum. Donec consequat varius turpis, ultrices pulvinar purus semper sit amet. Etiam ullamcorper purus vitae luctus pellentesque. Suspendisse sit amet turpis hendrerit nulla vehicula maximus. Suspendisse tincidunt mauris sed aliquet fermentum. Vestibulum sit amet enim velit. Vestibulum et nisi a dolor condimentum malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean libero elit, dapibus eu risus auctor, porta imperdiet mauris. Quisque dapibus lectus vitae mi feugiat aliquet eu maximus augue. Donec ut ligula consequat, volutpat risus id, suscipit risus. Vivamus nunc urna, pulvinar in commodo et, vulputate sit amet arcu. Sed ut commodo urna. Duis egestas lacus ac rutrum cursus. Etiam pulvinar purus sed sem tincidunt volutpat. </p>

</section>
<section class="p-2">
<h3 class="text-primary">Comment faire un don</h3>
<p>Les dons peuvent être mensuels, annuels ou ponctuels et du montant que vous souhaitez.</p>
<p>Il vous suffit de renseigner vos coordonnées et de nous indiquer le montant du don, vous n'avez pas besoin d'être connecté.</p>
{{ form_start(formOneDonneur) }}
<div class="form-group col-md-6">
    {{ form_widget(formOneDonneur) }}
    </div>
    <button class="btn btn-secondary">{{ button_label|default('Continuer') }}</button>
{{ form_end(formOneDonneur) }}

</section>

</div>
{% endblock %}
